<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1, user-scalable=yes">

    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">

    <meta name="defaultLanguage" content="ru">
    <meta name="availableLanguages" content="ru, en">
    <link rel="localization" href="/locales/myApp.{locale}.ftl">
    <script defer src="dist/bundle/web/l20n.js"></script>

    <link rel="stylesheet" href="/bower_components/normalize-css/normalize.css" />

    <link rel="stylesheet" href="/styles/style.css" />

    <script src="/bower_components/webcomponentsjs/webcomponents-lite.min.js"></script>
    <link rel="import" href="/bower_components/polymer/polymer.html">

    <title><%= title %></title>
