@font-face {
    font-family: 'FuturaNew';
    src:    url('/fonts/futura/FuturaNewBook-Reg.eot?#iefix') format('embedded-opentype'),
            url('/fonts/futura/FuturaNewBook-Reg.otf')  format('opentype'),
            url('/fonts/futura/FuturaNewBook-Reg.woff') format('woff'),
            url('/fonts/futura/FuturaNewBook-Reg.ttf')  format('truetype'),
            url('/fonts/futura/FuturaNewBook-Reg.svg#FuturaNewBook-Reg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFMediumItalic';
    src:    url('/fonts/pfmedit/PFDinTextCompPro-MediumItalic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/pfmedit/PFDinTextCompPro-MediumItalic.woff') format('woff'),
            url('/fonts/pfmedit/PFDinTextCompPro-MediumItalic.ttf')  format('truetype'),
            url('/fonts/pfmedit/PFDinTextCompPro-MediumItalic.svg#PFDinTextCompPro-MediumItalic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFRegular';
    src:    url('/fonts/pfreg/PFDinTextCompPro-Regular.eot?#iefix') format('embedded-opentype'),
            url('/fonts/pfreg/PFDinTextCompPro-Regular.woff') format('woff'),
            url('/fonts/pfreg/PFDinTextCompPro-Regular.ttf')  format('truetype'),
            url('/fonts/pfreg/PFDinTextCompPro-Regular.svg#PFDinTextCompPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PFItalic';
    src:    url('/fonts/pfit/PFDinTextCompPro-Italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/pfit/PFDinTextCompPro-Italic.woff') format('woff'),
            url('/fonts/pfit/PFDinTextCompPro-Italic.ttf')  format('truetype'),
            url('/fonts/pfit/PFDinTextCompPro-Italic.svg#PFDinTextCompPro-Italic') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src:    url('/fonts/material-icons/MaterialIcons-Regular.eot') format('embedded-opentype'); /* For IE6-8 */
            url('/fonts/material-icons/MaterialIcons-Regular.woff2') format('woff2'),
            url('/fonts/material-icons/MaterialIcons-Regular.woff') format('woff'),
            url('/fonts/material-icons/(MaterialIcons-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Glyphicons';
    src:    url('/fonts/glyphicons/glyphicons-regular.eot');
    src:    url('/fonts/glyphicons/glyphicons-regular.eot?#iefix') format('embedded-opentype'),
            url('/fonts/glyphicons/glyphicons-regular.woff') format('woff'),
            url('/fonts/glyphicons/glyphicons-regular.ttf') format('truetype'),
            url('/fonts/glyphicons/glyphicons-regular.svg#glyphicons_halflingsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    background-color: #eeeeee;
}

body, p, ul, span {
    font-family: 'PFRegular','Arial Narrow', sans-serif;
    font-size: 18px;
}

p, ul, span {
    text-align: justify;
}

h1, h2, h3, .stat {
    font-family: 'FuturaNew', Helvetica, Arial, sans-serif;
    font-weight: normal;
    text-transform: uppercase;
}

paper-button, h4, h5, h6, .accent {
    font-family: 'PFMediumItalic', 'Arial Narrow', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
}
ul li {
    position: relative;
    list-style: none;
    margin: 0.2em 0;
}

ul li.glyphicons:before {
    font-family: Glyphicons, serif;
    font-style: normal;
    position: absolute;
    left:-1.5em;
    top: -0.1em;
}
ul li.glyphicons.star:before {
    content: "\e049";
}
ul li.glyphicons.bus:before {
    content: "\e032";
}
ul li.glyphicons.train:before {
    content: "\e015";
}

